@import "normalize.styl"
@import "skeleton.styl"
@import "font.styl"
@import "nib"

rojo= #FA0006
gris_oscuro=#404040
gris_claro=#808080
oscuro=#272727
naranja=#fc6d6d

body
	font-size 16px
	font-family 'Lato', sans-serif
	margin 0
a 
	text-decoration none
	color gris_oscuro
	&:hover
		color naranja
li
	list-style none
h1, h2, h3, h4, h5, h6
	margin 0
input, textarea
	width 100%
	margin .5em 0
form
	margin-bottom 0
.fondo-estatico
	background-image url("../img/fondo.jpg")
	background-repeat repeat
	background-position top center !important
	background-attachment fixed !important
.fondo-blanco
	background-color white
.fondo-oscuro
	background-color oscuro
	color gris_claro
.fondo-transparente
	background-color rgba(black,.5)
.izquieda
	float left
.derecha
	float right
.centrado-flex
	display flex
	flex-flow row wrap
	justify-content space-between
.segunda-seccion
	text-align center
	font-size 4rem
.imagen--segunda-seccion
	width 100%
	border-radius 60px
.columna-izquierda
	text-align right
.encabezado
	padding 0 .5em
	.menu
		align-self flex-end
		.menu-lista
			height 2rem
			width 45rem
			.elementos
				display block
	.imagen
		margin 0
.contenido
	.contenido-inicial
		min-height 100vh
		width 100%
		justify-content center
	.titulo-inicial
		align-self center
		font-family 'Montserrat', sans-serif 
		font-weight: normal
		font-size 5rem
		color white
		text-transform uppercase
		width 51%
	.contenido-servicios
		min-height 100vh
	.contenido-quienessomos
		min-height 100vh
	.contenido-tips
		min-height 45vh
	.contenido-noticias
		min-height 45vh
	.contactanos
		min-height 35vh
		padding 1em
.pie-pagina
	min-height 10vh
	padding 1em
	address
		margin .5em 0 
	.redes-sociales
		background-color gris_claro
		border-radius 10px
		font-size 2em
		padding 0 .5em
/* Diseño de mobiles */
@media (max-width: 400px)
	.encabezado
		width 100vw
	.contenido
		width 100vw
		.titulo-inicial
			font-size 3rem
			width 65%
	.pie-pagina
		width 100vw
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}