
@import "normalize.styl"

rojo= #FA0006
gris_oscuro=#404040
gris_claro=#808080
oscuro=#272727
naranja=#fc6d6d

body
	font-size 16px
	font-family 'Lato', sans-serif
	margin 0
a 
	text-decoration none
	color gris_oscuro
	&:hover
		color naranja
li
	list-style none
h1, h2, h3, h4, h5, h6
	margin 0
.fondo-estatico
	background-image url("../img/fondo.jpg")
	background-repeat repeat
	background-position top center !important
	background-attachment fixed !important
.fondo-blanco
	background-color white
.fondo-oscuro
	background-color oscuro
.fondo-transparente
	background-color rgba(black,.5)
.izquieda
	float left
.derecha
	float right
.centrado-flex
	display flex
	flex-flow row wrap
	justify-content space-between

.encabezado
	padding 0 .5em
	.menu
		align-self flex-end
		.menu-lista
			height 2rem
			width 26rem
			.elementos
				display block
	.imagen
		margin 0
.contenido
	.contenido-inicial
		min-height 95vh
		width 100%
		justify-content center
	.titulo-inicial
		align-self center
		font-family 'Montserrat', sans-serif 
		font-weight: normal
		font-size 3rem
		color white
		text-transform uppercase
		width 50%
	.contenido-servicios
		min-height 95vh
	.contenido-quienessomos
		min-height 95vh
	.contenido-tips
		min-height 45vh
	.contenido-noticias
		min-height 45vh
	.contactanos
		min-height 35vh